language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"

install:
  - "pip install -e ."
  - "pip install pytest django --use-mirrors"


branches:
  only:
    - develop

script:
  py.test
