language: python

python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "pypy"
  - "pypy3"

install:
  - pip install .
  - pip install tox codecov
  - "TOX_ENV=${TRAVIS_PYTHON_VERSION/[0-9].[0-9]/py${TRAVIS_PYTHON_VERSION/.}}"


branches:
  only:
    - master
    - develop
    - feature/travis


before_success:
  - coverage erase


after_success:
  - coverage combine
  - codecov

script: tox -e $TOX_ENV
